.ss-other-page{background: #d82a4e;
    padding: 40px;
    margin-bottom: 100px;
}
button {
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
}
    
h3 {
    color: white;
    margin-bottom: 35px;
}
p{
    color: white;
}