
.signup-btn{
  text-align: center;
}

.auth-site-btn {
	background-color: transparent!important;
  color:white!important
}

.active-link{
  color: #d82a4e !important;
	cursor: pointer;
	background: #fff!important;
}
